{% extends 'base.html.twig' %}

{% block title %}New Ad{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h1 class="text-center">Create new User</h1>

            {{ include('user/_form.html.twig') }}
            <div class="text-right">
                <a class="btn-sm btn-outline-primary" href="{{ path('user_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}